<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>
    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        
        <p id="clickResponse"></p>
	    <div id="map" style="height:600px; width:600px; z-index: -10; position:relative; border:solid; float:left;"></div>
		<script async defer
	  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbOvGhrI4DFlE-Aad6vwqFajtJQ735RnI&callback=initMap">
		</script>
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>

</html>